* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 0 30px;
  padding-top: 20px;
  position: relative;
  z-index: 100000;
  justify-content: space-between;
  max-width: 100%;
  background-color: #000;
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 2.5px solid #C9C9C9; */
  color: aliceblue;
}

.header-img {
  position: relative;
  top: -10px;
  width: 80px;
  height: 80px;
}

.header-item a {
  display: block;
  color: aliceblue;
  font-size: 24px;
  padding: 5px 7px;

}

.tel {
  font-size: 24px;
  vertical-align: top;
  display: inline-block;
  justify-content: flex-start;
  padding: 20px 20px;
  margin-bottom: 0px;
  color: aliceblue;
}

/*  */
.tel,
.nav * {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  box-sizing: border-box;
  transition: all .4s ease;
}
.tel,
.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.tel,
.nav a {
  padding: .5em .8em;
  color: #C9C9C9;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.tel::before,
.tel::after,
.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .4s ease;
  opacity: 0;
}

.tel::before,
.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #b13f06;
  border-right: 3px solid #b13f06;
  transform: translate(-100%, 50%);
}

.tel:after,
.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #b13f06;
  border-left: 3px solid #b13f06;
  transform: translate(100%, -50%)
}

.tel:hover:before,
.tel:hover:after,
.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.tel:hover,
.nav a:hover {
  color: #FFF;
  font-size: 25px;
}