.hero-img {
  max-height: 50rem;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.hero-container {
  padding-top: 25px;
  top: -50px;
  overflow: hidden;
  position: relative;
  z-index: 90000;
  justify-content: space-between;
  max-width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: aliceblue;
  background-color: #000;
  border-bottom: 2.5px solid #999;
}
.avatar {
  position: relative;
  margin: 0;
  padding: 0;
  top: 5px;
}
.hero-text {
  max-width: 40%;
  padding: 15% 15% 50px 40px;
}
.hero-h {
  font-size: 50px;
}